.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color:red;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    overflow: auto;
}
#main {
    transition: margin-left 1s;
    padding: 16px;
    word-wrap: break-word;
}