<h1 style="text-align: center;"> Chat message </h1>

<div align="center">
  <textarea name="" id="" cols="100" rows="10"></textarea>
  <div style="height: 40px;"></div>
  <div align="center">
    <form #formMessage= "ngForm">
      <div class="form-group">
        <input type="text" class="form-group">
      </div>
      <div class="form-group">
        <input type="file" name="picture" class="form-group">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</div>
